<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12 table-responsive">
    <table class="table table-striped table-hover datatable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Role</th>
          <th>Control</th>
        </tr>
      </thead>
      <tbody>
        <% @event.event_permissions.each do |ep| %>
        <tr>
          <td><%= ep.user.person.full_name %></td>
          <td><%= ep.participant_type.name %></td>
            <td>
              <%= (link_to 'Eliminar', "events/#{@event.id}/#{ep.id}/destroy", method: :delete, data: { confirm: '¿Esta seguro de eliminar a este participante?' }, class: 'btn btn-sm btn-danger') if @w  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
