<div class="row">
  <div class="block-gray col-xs-12 col-sm-12 col-md-8 col-lg-8 col-ls-offset-2 col-md-offset-2 ">
    <%= form_tag({:controller => "events", :action => "update_file"}, :method => "post", :multipart => true) do %>
    <%= file_field_tag "file", :required => "required", :class => "btn " %>
    <%= hidden_field_tag "file_id", 0 %>
    <%= submit_tag "Actualizar", :class => "btn btn-success" %>
    <% end %>
  </div>
</div>
