<div class="row">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-iAdmin">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">iAdmin</a>
    </div>

    <div class="collapse navbar-collapse" id="menu-iAdmin">
      <ul class="nav navbar-nav">
        <% if is_chunk('usi') || is_chunk('50E') || is_chunk('044') || is_chunk('5C4') || is_chunk('3B6') %>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown">Aplicacion <span class="glyphicon glyphicon-hdd"> </span><b class="caret"></b></a>
         <ul class="dropdown-menu">
          <% if is_chunk('usi') %>
          <li><a href="/users">Usuarios</a></li>
          <% end %>
          <% if is_chunk('50E') %>
          <li><a href="/profiles">Perfiles</a></li>
          <% end %>
          <!-- <li><a href="/permissions">Permisos</a></li> -->
          <li class="divider"></li>
          <% if is_chunk('044') %>
          <li><a href="/people">Persona</a></li>
          <% end %>
          <% if is_chunk('5C4') %>
          <li><a href="/person_types">Tipo de Personas</a></li>
          <% end %>
          <% if is_chunk('3B6') %>
          <li class="divider"></li>
          <li><a href="/places">Lugares</a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
      <% if is_chunk('02E') || is_chunk('CE7') || is_chunk('CB6') %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Eventos <span class="glyphicon glyphicon-send"> </span><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if is_chunk('02E') %>
          <li><a href="/events">Eventos</a></li>
          <% end %>
          <% if is_chunk('CE7') %>
          <!-- <li><a href="/documents">Documents</a></li> -->
          <li class="divider"></li>
          <li><a href="/event_types">Tipo de Eventos</a></li>
          <% end %>
          <% if is_chunk('CB6') %>
          <li><a href="/participant_types">Tipo de Participante</a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <!-- Iconos de alerta para notificaciones -->
<!--       <li><a href="/tickets" id="tkt-dpto"><span class="glyphicon glyphicon-calendar"></span></a></li> -->
      <!-- Fin de Iconos de alertas para notificaciones -->
      <!-- Login y nombre de usuario -->
      <% if session[:initials]%>
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"> <%= session[:initials] %> :: <%= session[:academic_degree] %></span></a>
        <ul class="dropdown-menu">
          <li><a href="/home/logout">Salir</a></li>
        </ul>
      </li>
      <% end %>
 <!--  <li>
    <form class="form-inline" role="form" method="POST" action="/home/login">
      <div class="form-group">
        <label class="sr-only" for="cod">Usuario</label>
        <input type="text" class="form-control" id="cod" name="cod" placeholder="Usuario">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
      </div>
      <button type="submit" class="btn btn-default">Ingresar</button>
    </form>
  </li> -->
  <!-- Fin de Login y Nombre de usuario -->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></b></a>
    <ul class="dropdown-menu">
      <li role="presentation" class="dropdown-header"><strong>Fecha</strong> <%= Date.today %></li>
      <!-- <li class="divider"></li>
      <li role="presentation" class="dropdown-header">Usuarios</li>
      <li>ff</li>
      <li>ff</li>
      <li class="divider"></li>
      <li role="presentation" class="dropdown-header">Perfiles</li>
      <li>fff</li>
      <li>ff</li> -->
      <li class="divider"></li>
      <li><a href="/home/acerca_de">Acerca de</a></li>
    </ul>
  </li>
</ul>
</div>
</div>
